/*font Variables*/
$os: 'Oswald', sans-serif;
$hee: 'Heebo', sans-serif;
/*Color Variables*/

$baseColor: #a3cc01;
$dip: #263a4f;
$gray: #8d9aa8;
$pfont: #999999;



// Mixins
@mixin transition($property: all, $duration: 400ms, $animate: linear, $delay:0s){
    transition: $property $duration $animate $delay; 
}

// Placeholder Mixins
@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

.col-md-offset-right-1,.col-lg-offset-right-1{
    margin-right: 8.33333333%;
}
// Font family link
@import url('https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,900|Oswald:300,400,500,600,700');

//@font-face {
//    font-family: "ralH";
//    src: url(../fonts/theme-font/Arial.ttf.woff);
//}


